.card{

    width: 350px;
    margin: auto;
}

body{

    font-family: Arial, Helvetica, sans-serif;
}

#score, #card1, #card2, #card3, #card4, #card5, #card6, #card7, #card8, #card9, #card10, #card11, #card12, #card13, #card14, #card15, #card16, #card17, #card18, #card19, #card20 {

    display: none;
}

.auto{

    margin: auto;
}

input, select{

    width: 200px;
    height: 50px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 14px;
}